/*
MIU 1208
Cabe Bartz
Week 3
style.css
*/
.ui-title{
    overflow: visible !important;
}
.ui-header{
    background-color:#c4d7e9;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.ui-page{
    background-color:#c4d7e9;
    background-image: url("../images/MBT_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.ui-content{
    background-color:#c4d7e9;
    background-image: url("../images/MBT_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

label.error{
	display:block;
	margin:5px 0;
	color:#c02942;
}

#home .ui-li-has-thumb{
	margin-bottom: -20px;
}
			